# sphere mode
*

# file types
!*.ipynb
!*.md
!*.png


# dirs
!FINISHED/
!FINISHED/*
!FINISHED/**
!res/
!res/*
!res/**
!*/res/*

# WIP
!TRANSFORMER/
!TRANSFORMER/*
!RL_TRANSFORMER/
!RL_TRANSFORMER/*


