# sphere mode
*

# file types
!*.ipynb
!*.md
!*.png


# dirs
!FINISHED/
!res/
!res/*
!res/**
!*/res/*

# completed
!FINISHED/CNN_REFACTOR/*
!FINISHED/TRANSFORMER/*
!FINISHED/CNN/*
!FINISHED/LSTM/*
!FINISHED/MLP_MNIST/*


# WIP
!IN_PROGRESS/3BODY/
!IN_PROGRESS/3BODY/*



*__pycache__/*
*__pycache__/
**/MNIST/


